<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="30BD879D-2EEB-4E61-9135-8AEFDE676A2B" Name="VketCatalogListMaker" Language="1041" Version="1.1.0" Manufacturer="YTJVDCM" UpgradeCode="6D08474F-9D84-4067-BA08-CFE27DC1913F" Codepage="932">
        <Package Description="Outputs the URL of the catalog opened in VKet as a JSON file." Comments="Outputs the URL of the catalog opened in VKet as a JSON file." InstallerVersion="200" Compressed="yes" SummaryCodepage="932" Platform="x64" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder" Name="PFiles">
                <Directory Id="VKETCATALOGLISTMAKER" Name="VketCatalogListMaker">
                    <Component Id="LISTRESETTER.EXE" DiskId="1" Guid="6BFDA852-1455-4637-AEC7-AC62B7E6E674">
                        <File Id="LISTRESETTER.EXE" Name="ListResetter.exe" Source="C:\Users\ytjvd\Desktop\VketURLImporter\VketCatalogListmaker\release\VketCatalogListMaker\ListResetter.exe" />
                    </Component>
                    <Component Id="VCLM.EXE" DiskId="1" Guid="4AF15560-C4A9-45C0-B6EA-7A8012F3C77B">
                    <Component Id="VCLM.EXE" DiskId="1" Guid="E2D14D8D-557E-4940-84CA-7AD7957621E0">
                        <File Id="VCLM.EXE" Name="vketjson.exe" Source="C:\Users\ytjvd\Desktop\VketURLImporter\VketCatalogListmaker\release\VketCatalogListMaker\vketjson.exe">
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="VKetJSON" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        </File>
                        <RegistryValue Id="URLProtcRegv" Root="HKCR" Key="http" Type="string" Value="URL Protocol" />
                        <RegistryValue Id="URLsProtcRegv" Root="HKCR" Key="https" Type="string" Value="URL Protocol" />
                        <RegistryValue Id="comRegvp" Root="HKCR" Key="VCLM.EXE-http\shell\Open\command" Type="string" Value="&quot;[#VCLM.EXE]&quot; &quot;%1&quot;" />
                        <RegistryValue Id="comRegvps" Root="HKCR" Key="VCLM.EXE-https\shell\Open\command" Type="string" Value="&quot;[#VCLM.EXE]&quot; &quot;%1&quot;" />
                        <RegistryValue Id="RegAppDisc" Root="HKLM" Key="SOFTWARE\VCLM\Capabilities" Type="string" Name="ApplicationDescription" Value="Outputs the URL of the catalog opened in VKet as a JSON file." />
                        <RegistryValue Id="RegAppName" Root="HKLM" Key="SOFTWARE\VCLM\Capabilities" Type="string" Name="ApplicationName" Value="VCLM" />
                        <RegistryValue Id="RegHttpFA" Root="HKLM" Key="SOFTWARE\VCLM\Capabilities\URLAssociations" Type="string" Name="http" Value="VCLM.EXE-http" />
                        <RegistryValue Id="RegHttpsFA" Root="HKLM" Key="SOFTWARE\VCLM\Capabilities\URLAssociations" Type="string" Name="https" Value="VCLM.EXE-https" />
                        <RegistryValue Id="RegAppRegv" Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="VCLM" Type="string" Value="SOFTWARE\VCLM\Capabilities" />
                    </Component>
                    <Directory Id="RUNTIME" Name="runtime">
                        <Component Id="CURL_CA_BUNDLE.CRT" DiskId="1" Guid="3D4E6462-B30D-4BEC-B6A9-E277B02AAFC0">
                            <File Id="CURL_CA_BUNDLE.CRT" Name="curl-ca-bundle.crt" Source="..\release\VketCatalogListMaker\runtime\curl-ca-bundle.crt" />
                        </Component>
                        <Component Id="CURL.EXE" DiskId="1" Guid="54EF35BC-6DAC-4CB0-83C6-A0E534715329">
                            <File Id="CURL.EXE" Name="curl.exe" Source="..\release\VketCatalogListMaker\runtime\curl.exe" />
                        </Component>
                        <Component Id="GREP.EXE" DiskId="1" Guid="C33CF214-0016-45A8-BF6C-746C6B4A4C22">
                            <File Id="GREP.EXE" Name="grep.exe" Source="..\release\VketCatalogListMaker\runtime\grep.exe" />
                        </Component>
                        <Component Id="CYGICONV_2.DLL" DiskId="1" Guid="84703855-D328-46B2-A6C2-7DE928AFDDFD">
                            <File Id="CYGICONV_2.DLL" Name="cygiconv-2.dll" Source="..\release\VketCatalogListMaker\runtime\cygiconv-2.dll" />
                        </Component>
                        <Component Id="CYGINTL_8.DLL" DiskId="1" Guid="8D8C4F7B-8199-406D-82B3-551A96E3A774">
                            <File Id="CYGINTL_8.DLL" Name="cygintl-8.dll" Source="..\release\VketCatalogListMaker\runtime\cygintl-8.dll" />
                        </Component>
                        <Component Id="CYGPCRE_1.DLL" DiskId="1" Guid="637BFE6B-201A-4B11-BF5B-CC28A63D7044">
                            <File Id="CYGPCRE_1.DLL" Name="cygpcre-1.dll" Source="..\release\VketCatalogListMaker\runtime\cygpcre-1.dll" />
                        </Component>
                        <Component Id="CYGWIN1.DLL" DiskId="1" Guid="94905ACF-E0DD-4977-812F-CF384010B4C3">
                            <File Id="CYGWIN1.DLL" Name="cygwin1.dll" Source="..\release\VketCatalogListMaker\runtime\cygwin1.dll" />
                        </Component>
                        <Component Id="LIBCURL_X64.DLL" DiskId="1" Guid="202E9B1B-F35D-47EB-AAF0-C7E627850CC1">
                            <File Id="LIBCURL_X64.DLL" Name="libcurl-x64.dll" Source="..\release\VketCatalogListMaker\runtime\libcurl-x64.dll" />
                        </Component>
                        <Component Id="LIBICONV_2.DLL" DiskId="1" Guid="1F954818-3D68-4D86-9214-96442CA708E7">
                            <File Id="LIBICONV_2.DLL" Name="libiconv-2.dll" Source="..\release\VketCatalogListMaker\runtime\libiconv-2.dll" />
                        </Component>
                        <Component Id="LIBXML2_2.DLL" DiskId="1" Guid="6CACEC9B-2157-424C-97FB-30C53C39B643">
                            <File Id="LIBXML2_2.DLL" Name="libxml2-2.dll" Source="..\release\VketCatalogListMaker\runtime\libxml2-2.dll" />
                        </Component>
                        <Component Id="SED.EXE" DiskId="1" Guid="C6D6A826-7242-43EE-B65B-3240425B5863">
                            <File Id="SED.EXE" Name="sed.exe" Source="..\release\VketCatalogListMaker\runtime\sed.exe" />
                        </Component>
                        <Component Id="XMLLINT.EXE" DiskId="1" Guid="3B546E0C-B1D2-4B75-8D48-18BB2AE8F584">
                            <File Id="XMLLINT.EXE" Name="xmllint.exe" Source="..\release\VketCatalogListMaker\runtime\xmllint.exe" />
                        </Component>
                        <Component Id="ZLIB1.DLL" DiskId="1" Guid="34A65BEE-99BF-4BC7-A7B6-10C4A4D4A2AC">
                            <File Id="ZLIB1.DLL" Name="zlib1.dll" Source="..\release\VketCatalogListMaker\runtime\zlib1.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="VketJson">
                    <Component Id="StartMenuShortcuts" Guid="93C61828-0077-4ACF-A44B-1EB49A4DF071">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="JSONReset" Name="DataReset" Description="Reset list data" Target="[#LISTRESETTER.EXE]" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="LISTRESETTER.EXE" />
            <ComponentRef Id="VCLM.EXE" />
            <ComponentRef Id="CURL_CA_BUNDLE.CRT" />
            <ComponentRef Id="CURL.EXE" />
            <ComponentRef Id="GREP.EXE" />
            <ComponentRef Id="CYGICONV_2.DLL" />
            <ComponentRef Id="CYGINTL_8.DLL" />
            <ComponentRef Id="CYGPCRE_1.DLL" />
            <ComponentRef Id="CYGWIN1.DLL" />
            <ComponentRef Id="LIBCURL_X64.DLL" />
            <ComponentRef Id="LIBICONV_2.DLL" />
            <ComponentRef Id="LIBXML2_2.DLL" />
            <ComponentRef Id="SED.EXE" />
            <ComponentRef Id="XMLLINT.EXE" />
            <ComponentRef Id="ZLIB1.DLL" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
        <Icon Id="StartMenuIcon.exe" SourceFile="C:\Users\ytjvd\Desktop\VketURLImporter\VketCatalogListmaker\release\VketCatalogListMaker\vclm.exe" />
        <Property Id="WIXUI_INSTALLDIR" Value="VKETCATALOGLISTMAKER" />
        <Binary Id="license.rtf" SourceFile="C:\Users\ytjvd\Desktop\VketURLImporter\VketCatalogListmaker\license.rtf" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    </Product>
</Wix>
